body
{
    display: flex;
}


html
{
    position: relative;

    min-height: 100%;
}

body
{
    /* Margin bottom by footer height */
    margin-bottom: 140px;
}

strong
{
    font-weight: bold;
}

.footer
{
    position: absolute;
    bottom: 0;

    width: 100%;
    /* Set the fixed height of the footer here */
    height: 140px;

    color: $white;
    background: $gray-dark;
}

.footer .row > div
{
    /*line-height: 130px;*/
}
